@import "./reset.less";

.border_radius(@radius: 5px) {
    -khtml-border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.box_shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

.background_gradient(@startColor: #000, @endColor: #fff) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(top, @startColor, @endColor);
    background-image: -moz-linear-gradient(top, @startColor, @endColor);
    background-image: -ms-linear-gradient(top, @startColor, @endColor);
    background-image: -o-linear-gradient(top, @startColor, @endColor);
    background-image: linear-gradient(top, @startColor, @endColor);
}

.background_gradient_image(@image, @startColor: #000, @endColor: #fff, @repeat: no-repeat, @position: 4px 4px) {
    background: url("/bundles/krevindioubagheera/images/@{image}") @repeat @position @startColor;
    background: url("/bundles/krevindioubagheera/images/@{image}") @repeat @position, -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: url("/bundles/krevindioubagheera/images/@{image}") @repeat @position, -webkit-linear-gradient(top, @startColor, @endColor);
    background: url("/bundles/krevindioubagheera/images/@{image}") @repeat @position, -moz-linear-gradient(top, @startColor, @endColor);
    background: url("/bundles/krevindioubagheera/images/@{image}") @repeat @position, -ms-linear-gradient(top, @startColor, @endColor);
    background: url("/bundles/krevindioubagheera/images/@{image}") @repeat @position, -o-linear-gradient(top, @startColor, @endColor);
    background: url("/bundles/krevindioubagheera/images/@{image}") @repeat @position, linear-gradient(top, @startColor, @endColor);
}

.link_button() {
    .border_radius(3px);
    .background_gradient(#fff, #e0e0e0);
    .box_shadow(0px 1px 2px 0px #000, inset 0px 0px 3px 0px #fff);
    border: 1px solid #ccc;
    border-bottom-color: #aaa;
    text-shadow: transparent 0px 0px 0px, #fff 0px 1px 0px;
    padding: 9px;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    &:hover {
        .background_gradient(#fff, #ebebeb);
        .box_shadow(0 1px 3px #999);
        border-color: #999;
    }
}

.link_button_image(@image) {
    .link_button;
    .background_gradient_image(@image, #fff, #e0e0e0);
    padding-left: 30px;
    &:hover {
        .background_gradient_image(@image, #fff, #ebebeb);
        .box_shadow(0 1px 3px #999);
        border-color: #999;
    }
}

body {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", monospace;
    font-size: 14px;
    background-color: #eee;
    color: #313131;
}

a {
    text-decoration: underline;
    color: #333;
    &:hover {
        text-decoration: none;
    }
    img {
        border: none;
    }
}

strong {
    font-weight: bold;
}

form {
    .form_label {
        display: inline-block;
        width: 200px;
        text-align: right;
        height: 23px;
        vertical-align: top;
        margin: 10px 0 10px 15px;
    }
    label {
        font-weight: bold;
        &.required:after {
            content: " *";
            color: red;
        }
    }
    .form_field {
        display: inline-block;
        width: 700px;
        margin: 0 0 10px 10px;
        input[type=radio], input[type=checkbox] {
            margin-top: 10px;
        }
    }
    .form_errors {
        color: #f00;
    }
    .form_button, > div > .form_errors {
        margin-left: 225px;
    }
    .description {
        display: inline-block;
        width: 200px;
        margin-left: 5px;
        font-size: 11px;
        font-weight: normal;
        color: #666;
    }
    input, textarea, select, button {
        font-size: 14px;
        border: solid 1px #bbb;
        padding: 6px;
        .border_radius(6px);
        .background_gradient(#fff, #eee);
        &:focus {
            border-color: #8aafc4;
        }
    }
    input[type=radio], input[type=checkbox] {
        border: 0;
    }
    input[type=submit], input[type=button], input[type=reset], input[type=image], button {
        .link_button;
        padding-top: 6px !important;
        padding-bottom: 8px !important;
        cursor: pointer;
        font-weight: bold;
    }
    input[type=email] {
        width: 250px;
    }
    input.money {
        text-align: right;
        width: 80px;
    }
    .list_actions {
        margin: 20px 0 20px 30px;
        input {
            float: none;
            margin: 0;
            margin-right: 15px;
            display: none;
        }
    }
}

.pager {
    float: right;
    margin-top: 10px;

    a, span {
        .link_button;
        margin: 0 3px;
    }

    .dots {
        border-width: 0;
    }

    .current {
        .background_gradient(#e6e6e6, #dcdcdc);
        .box_shadow(inset 0px 1px 2px 0px #aaa);
        border: 1px solid #aaa;
        border-top-color: #999;
        border-bottom-color: #ccc;
    }

    .disabled {
        display: none;
    }
}

header {
    position: relative;
    margin: auto;
    width: 970px;
    padding: 10px;
    height: 100px;
    .background_gradient(#b5dcf1, #83b0c9);
    .box_shadow(0 1px 0 #fff);
    text-shadow: 0 1px 0 #cae9f9;
    border-bottom: 1px solid #558199;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    .logout {
        float: right;
        margin-right: 10px;
    }
}

#account_box {
    padding: 5px 10px;
    background-color: #fff;
    .background_gradient(#fff, #e9e9e9);
    .border_radius(8px);
    border: 2px solid #666;
    position: absolute;
    right: 10px;
    top: 10px;
}

#title {
    font-size: 22px;
    margin: 10px 0 0 10px;
    a {
        text-decoration: none;
    }
}

nav ul {
    margin-top: 50px;
    li {
        display: inline;
    }
    a {
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        padding: 3px 5px;
        margin: 2px;
        &:hover {
            .border_radius(5px);
            background-color: #fff;
        }
    }
}

.notification {
    font-weight: bold;
    padding: 10px;
    margin: 15px 0;
}

.notification_notice {
    .notification;
    color: #7192b6;
    background-color: #d8ecf5;
    border: 1px solid #9ac9df;
}

.notification_error {
    .notification;
    color: #b3696c;
    background-color: #f5d1d3;
    border: 1px solid #f4afb2;
}

#content {
    width: 950px;
    padding: 20px;
    margin: auto;
    background-color: #eaeaea;
    border: 1px solid #bbb;
    border-top: 0;
    .clear {
        clear: both;
    }
    form {
        float: left;
        width: 100%;
    }
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #83b0c9;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.7);
}

footer {
    position: relative;
    margin: auto;
    width: 970px;
    padding: 10px;
    height: 10px;
    border: 1px solid #bbb;
    border-top: 0;
    background-color: #fff;
    font-size: 11px;
}

#copyright {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #777;
}

table.data {
    width: 100%;
    th {
        .background_gradient(#b5dcf1, #83b0c9);
        font-weight: bold;
        font-size: 13px;
        padding: 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #558199;
        text-align: left;
    }
    td {
        font-size: 12px;
        padding: 4px;
        border-bottom: 1px solid #ccc;
        vertical-align: middle;
    }
    tr:nth-child(odd) td {
        background-color: #ddd;
    }
    tr:hover td {
        background-color: #c2deed;
        cursor: pointer;
    }
    tr.selected td {
        background-color: #ffc;
    }
}

a.new {
    display: inline-block;
    .link_button_image("plus.png");
}

a.back {
    display: inline-block;
    .link_button_image("left.png");
}

a.schedulers {
    display: inline-block;
    .link_button_image("clock.png");
}

a.search {
    display: inline-block;
    .link_button_image("search.png");
}

.positive {
    color: #1ca553;
}
.positive:before {
    content: "+";
}

.negative {
    color: red;
}
.negative:before {
    content: "-";
}

input[type=submit].delete {
    .link_button_image("trash.png");
}

input[type=submit].reconcile {
    .link_button_image("reconcile.png");
}

#form_account_list li {
    width: 430px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #e2e2e2;
    .border_radius(7px);
    padding: 15px;
    table {
        width: 100%;
        th {
            text-align: left;
        }
        th.bank_name {
            font-size: 15px;
            font-weight: bold;
        }
        td.checkbox, th.checkbox {
            width: 25px;
            text-align: center;
        }
        td.account_name {
            padding-left: 20px;
        }
        td.balance, th.balance {
            text-align: right;
            font-weight: bold;
        }
        td.actions, th.actions {
            width: 85px;
            vertical-align: middle;
            padding-left: 10px;
        }
    }

    .ui-progressbar {
        display: inline-block;
        height: 10px;
        width: 60px;
    }

    .ui-progressbar-value {
        background: url("/bundles/krevindioubagheera/css/smoothness/images/pbar-ani.gif") 50% 50% repeat-x #f6a828;
        font-size: 10px;
        text-align: center;
        color: #fff;
    }
}

#operation.with_sidebar {
    width: 700px;
}

#operation_search {
    width: 250px !important;
    font-size: 12px;
    .form_label {
        text-align: left;
        margin: 3px 0 3px 11px;
        height: 15px;
    }
    .form_field {
        display: inline-block;
        margin: 0 0 10px 10px;
        width: 300px;
    }
    .form_button {
        margin-left: 10px;
    }
}

#total_balance {
    margin: 30px 0 0 16px;
    font-size: 16px;
    font-weight: bold;
}

#graphs {
    figure {
        float: left;
        height: 250px;
        width: 450px;
        margin: 30px 12px;
    }
    figcaption {
        text-align: center;
        font-weight: bold;
        color: #666;
    }
    div.graph {
        height: 250px;
        width: 450px;
    }
}

.ui-widget {
    font-size: 14px !important;
}
