/.vagrant/
/web/bundles/
/web/components/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/Resources/node_modules/*
/build/
/vendor/
/composer.phar
/web/css/*
/web/js/*
!.gitkeep
