*.swp
*~
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/src/Krevindiou/BagheeraBundle/Resources/upload/BankDetails/*
!.gitkeep
