*.swp
*~
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/build/
/vendor/
/composer.lock
/composer.phar
!.gitkeep
