parameters:
    level: 3
    paths:
        - .
    excludes_analyse:
        - .phpunit
        - node_modules
        - public
        - migrations
        - var
        - vendor
    bootstrapFiles:
        - bin/.phpunit/phpunit/vendor/autoload.php
