<phpunit backupGlobals="false"
         backupStaticAttributes="true"
         bootstrap="application/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="true"
         syntaxCheck="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
    <testsuites>
        <testsuite name="Models">
            <directory>application/models</directory>
        </testsuite>
    </testsuites>
</phpunit>
