<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="application/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="true"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
    <testsuites>
        <testsuite name="Application">
            <directory>application</directory>
        </testsuite>
    </testsuites>
</phpunit>
