<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Bagheera</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% stylesheets filter='lessphp' output='css/main.css' '@KrevindiouBagheeraBundle/Resources/public/less/main.less' %}
            <link href="{{asset_url}}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
