POSTGRES_HOST=127.0.0.1
POSTGRES_DB=bagheera
POSTGRES_USER=bagheera
POSTGRES_PASSWORD=bagheera
POSTGRES_SECURE_HOST=127.0.0.1
POSTGRES_SECURE_DB=bagheera
POSTGRES_SECURE_USER=bagheera
POSTGRES_SECURE_PASSWORD=bagheera
