{% extends '::base.html.twig' %}

{% block pageTitle 'bank_form_page_title'|trans %}

{% block content %}
<a href="{{ path('account_summary') }}" class="back">{% trans %}back_link{% endtrans %}</a>

<form action="" novalidate="novalidate" method="post" {{ form_enctype(bankForm) }}>
    {{ form_widget(bankForm) }}

    <div class="formButton">
        <input type="submit" value="{% trans %}bank_form_submit_button{% endtrans %}"/>
    </div>
</form>
{% endblock %}
