{% extends 'KrevindiouBagheeraBundle::base.html.twig' %}

{% block page_title 'bank_access.form_page_title'|trans %}

{% block content %}
<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(bankAccessForm) }}>
    {{ form_widget(bankAccessForm) }}

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="{{ 'bank_access.form_submit_button'|trans }}"/>
        </div>
    </div>
</form>
{% endblock %}
