POSTGRES_HOST=bagheera-postgresql
POSTGRES_DB=bagheera
POSTGRES_USER=bagheera
POSTGRES_PASSWORD=bagheera
POSTGRES_SECURE_HOST=bagheera-postgresql
POSTGRES_SECURE_DB=bagheera
POSTGRES_SECURE_USER=bagheera
POSTGRES_SECURE_PASSWORD=bagheera
APP_SECRET=ThisTokenIsNotSoSecretChangeIt
MAILER_URL=null://localhost
SENDER_EMAIL=bagheera@example.net
