{% extends '::base.html.twig' %}

{% block content %}
<h1>{% trans %}user_login_page_title{% endtrans %}</h1>

{% spaceless %}
<form action="{{ path('login_check') }}" novalidate="novalidate" method="post">
    <div>
        {% if error %}
        <ul class="formErrors"><li>{{ error.message|trans([], 'validators') }}</li></ul>
        {% endif %}
        <div>
            <div class="formLabel">
                <label for="username">{% trans %}user_email{% endtrans %}</label>
            </div>
            <div class="formField">
                <input type="email" id="username" name="_username" value="{{ last_username }}"/>
            </div>
        </div>
        <div>
            <div class="formLabel">
                <label for="password">{% trans %}user_password{% endtrans %}</label>
            </div>
            <div class="formField">
                <input type="password" id="password" name="_password"/>
            </div>
        </div>
    </div>
    <div class="formButton">
        <input type="submit" name="login" value="{% trans %}user_login_submit_button{% endtrans %}"/>
    </div>
</form>
{% endspaceless %}
{% endblock %}
