{% extends '::base.html.twig' %}

{% block content %}
<h1>Login</h1>

{% spaceless %}
<form action="{{ path('login_check') }}" novalidate="novalidate" method="post">
    <div>
        {% if error %}
        <ul class="formErrors"><li>{{ error.message }}</li></ul>
        {% endif %}
        <div>
            <div class="formLabel">
                <label for="username">Email</label>
            </div>
            <div class="formField">
                <input type="email" id="username" name="_username" value="{{ last_username }}"/>
            </div>
        </div>
        <div>
            <div class="formLabel">
                <label for="password">Password</label>
            </div>
            <div class="formField">
                <input type="password" id="password" name="_password"/>
            </div>
        </div>
    </div>
    <div class="formButton">
        <input type="submit" name="login" value="Connect"/>
    </div>
</form>
{% endspaceless %}
{% endblock %}
