{% extends '::base.html.twig' %}

{% block page_title 'user_profile_page_title'|trans %}

{% block content %}
<form action="{{ path('user_profile') }}" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(profileForm) }}>
    {{ form_widget(profileForm) }}

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-large btn-primary" value="{{ 'user_profile_submit_button'|trans }}"/>
        </div>
    </div>
</form>
{% endblock %}
