{% extends '::base.html.twig' %}

{% block pageTitle 'user_profile_page_title'|trans %}

{% block content %}
<form action="{{ path('user_profile') }}" novalidate="novalidate" method="post" {{ form_enctype(profileForm) }}>
    {{ form_widget(profileForm) }}

    <div class="form_button">
        <input type="submit" value="{% trans %}user_profile_submit_button{% endtrans %}"/>
    </div>
</form>
{% endblock %}
