{% extends '::base.html.twig' %}

{% block pageTitle 'user_reset_password_page_title'|trans %}

{% block content %}
<form action="{{ path('user_reset_password', {'key': key}) }}" novalidate="novalidate" method="post" {{ form_enctype(resetPasswordForm) }}>
    {{ form_widget(resetPasswordForm) }}

    <div class="formButton">
        <input type="submit" value="{% trans %}user_reset_password_submit_button{% endtrans %}"/>
    </div>
</form>
{% endblock %}
